 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 291px 47px 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  line-height: 2;
  margin: 93px 8px 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
} .u-section-2 {
  background-image: url("images/_20240926165820.png");
  background-position: 50% 33.04%;
  min-height: 679px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 560px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 322px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 203px;
  }
}